/*  
    Name - Student Name
    File Name - index.html
    Date - 11/06/2021 
*/

@media only screen and (max-width: 480px) {
  section {
    background-color: #183440;
    color: #fff;
    margin-top: 4%;
    padding: 3%;
  }
  article {
    margin-top: 1%;
    padding: 2%;
  }
  aside {
    background-color: rgba(24, 52, 64, 0.3);
    padding: 2%;
    margin-top: 1%;
    color: #183440;
    box-shadow: 4px 4px 10px #183440;
  }
}

@media only screen and (min-width: 481px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-top: 1%;
    padding: 2%;
  }
  aside {
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(24, 52, 64, 0.3);
    padding: 2%;
    margin-top: 1%;
    color: #183440;
    box-shadow: 4px 4px 10px #183440;
  }
  section {
    background-color: #183440;
    color: #fff;
    margin-top: 4%;
    padding: 3%;
  }
}

@media only screen and (min-width: 901px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-top: 1%;
    padding: 2%;
  }
  aside {
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(24, 52, 64, 0.3);
    padding: 2%;
    margin-top: 1%;
    color: #183440;
    box-shadow: 4px 4px 10px #183440;
  }
  section {
    background-color: #183440;
    color: #fff;
    margin-top: 4%;
    padding: 3%;
  }
}

header {
  background-color: #183440;
  color: #fff;
  padding: 3%;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline;
  padding: 3%;
}

footer {
  background-color: #c8dbe3;
  text-align: right;
}

footer p {
  padding: 3%;
  color: #183440;
}
